<div class="filter">
    <mat-form-field>
        <mat-label>Organizar</mat-label>
        <!-- Selecciones del menu principal-->
        <mat-select
            panelClass="sort-select"
            [(ngModel)] = "sort"
            (selectionChange)="searchGames(sort)"
        >
            <mat-option value="name">Nombre</mat-option>
            <mat-option value="-released">Lanzado</mat-option>
            <mat-option value="-added">Añadido</mat-option>
            <mat-option value="-created">Creado</mat-option>
            <mat-option value="-updated">Actualizado</mat-option>
            <mat-option value="-rating">Calificaciones</mat-option>
            <mat-option value="metacritic">Metacriticas</mat-option>           
        </mat-select>
    </mat-form-field>
</div>

<!--  Div para games -->

<div class="games">
    <ng-container *ngFor= "let game of games">
        <div class="game" (click)="openGameDetails(game.id)">
            <div class="game-thumb-container">
                <img
                *ngIf="game.background_image" 
                src="{{ game.background_image }}" 
                alt="thumbnail"
                class="game-thumbnail"
                />
                <p *ngIf="!game.background_image">No image</p>
            </div>
            <div class="game-description">
                <p class="game-name">{{ game.name }}</p>
                <div class="game-platforms">
                    <!-- Preguntar por ngFor property slug para cargar plataforms-->
                    <img 
                    *ngFor= "let gamePlatform of game.parent_platforms"
                    class ="game-platform"
                    src="../../../assets/images/platforms/xbox.svg" 
                    alt="slug"> <!--{{ gamePlatform.platform.slug }} instad of xbox.svg--> 
                </div>
            </div>
        </div>
    </ng-container>
</div>

